.txta-center
    text-align center
.txta-left
    text-align left
.txta-right
    text-align right

.flex-box
    display flex
    .flex-1
        flex 1
    .flex-2
        flex 2
    .flex-3
        flex 3
    .flex-4
        flex 4
    .flex-5
        flex 5
    .flex-6
        flex 6
    .flex-7
        flex 7
    .flex-8
        flex 8
    .flex-9
        flex 9
    .flex-10
        flex 10
    .flex-11
        flex 11
    .flex-12
        flex 12
    &.column
        flex-direction column
    &.row
        flex-direction row
    &.center
        justify-content center
        align-items center
    &.h-center
        justify-content center
    &.v-center
        align-items center
    &.space-between
        justify-content space-between
    &.space-around
        justify-content space-around
    &.nowrap
        flex-wrap nowrap

.text-overflow2
    overflow hidden
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 2

