text-overflow()
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

text-overflows($num)
    overflow hidden
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp $num
