@import "./variable"
*
    box-sizing border-box
    margin 0
    padding 0

article
aside
details
figcaption
figure
footer
header
hgroup
menu
nav
section
	display block

h1
h2
h3
h4
h5
h6
    font-size 100%
    font-weight normal
img
    display block
    border 0
    vertical-align middle
ul
ol
    list-style-type none
a
    color #333
    outline none
    border 0
    text-decoration none
    &:focus
        outline none
em
i
u
b
    font-style normal
table
    border-collapse collapse
    border-spacing 0

p
    word-wrap break-word

blockquote
q
	quotes none

blockquote
    &:before
    &:after
        content ''
	    content none
q
    &:before
    &:after
	    content ''
	    content none

//重置按钮样式

//重置button样式

//重置select样式
