//颜色
$color-theme = #f60

$color-background = #f4f4f4
$color-card = #ffffff
$color-price = #ff4c7a
$color-badge = #ff7112

$color-title = #333333
$color-sub-title = #666666
$color-content = #999999

//字体